@container-width: 1262px;
@container-inner-width: 1232px;

@import "Components/Reset";
@import "Components/Mixins";
@import "Components/Helpers";
@import "Components/Sprites";
@import "Components/Icons";

@import "Components/Navbar";
@import "Components/Hero";
@import "Components/SocialLinks";
@import "Components/Menu";
@import "Components/Widgets";
@import "Components/Actions";
@import "Components/HowToBuy";
@import "Components/Advantages";
@import "Components/News";
@import "Components/Plan";
@import "Components/Gallery";

.container {
    width: @container-width;
    position: relative;
    margin: 0 auto;
}

.container-inner {
    width: @container-inner-width;
    position: relative;
    margin: 0 auto;
}