@import "Components/Reset";
@import "Components/Mixins";
@import "Components/Helpers";
@import "Components/Sprites";
@import "Components/Icons";

@import "Components/Navbar";
@import "Components/Hero";
@import "Components/SocialLinks";
@import "Components/Menu";

.container {
    width: 1262px;
    position: relative;
    margin: 0 auto;
}